body {
  font-family: 'Montserrat', sans-serif;
  background: #000829;
}
html {
  height: 100%;
}
p {
  font-size: 15px;
  color: #8C99B8;
  line-height: 30px;
  text-align: justify
}
a {
  text-decoration: none !important;
}
ul {
  padding-left: 0;
}

.cont{
  width: 70%;
  margin-left: 15%;
  @media (max-width: 1024px){
    width: 90%;
    margin-left: 5%;
  }
  @media (max-width: 768px) {
    width: 90%;
    margin-left: 5%;
  }
  @media (max-width: 481px) {
    width: 80%;
    margin-left: 10%;
  }
}
.section-title {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  span{
    color: #ff6600;
  }
  @media (max-width: 481px) {
    font-size: 28px;
  }
}
.site-btn {
  background: #ff6600;
  border: none;
  color: #fff !important;
  display: inline-block;
  padding:12px 50px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.3s;
  &:hover {
    background: #FF4400;
    padding: 12px 60px;
    transition: all ease 0.3s;
  }
}

// Margins
.top_15 {
  margin-top: 15px;
}
.top_30 {
  margin-top: 30px;
}
.top_45 {
  margin-top: 45px;
}
.top_60 {
  margin-top: 60px;
}
.top_90 {
  margin-top: 90px;
}
.top_120 {
  margin-top: 120px;
}
.padding_30 {
  padding: 30px 0;
}
.padding_45 {
  padding: 45px 0;
}
.padding_60 {
  padding: 60px 0;
}
.padding_90 {
  padding: 90px 0;
}
.padding_120 {
  padding: 120px 0;
}
.bottom_15 {
  margin-bottom: 15px;
}
.bottom_30 {
  margin-bottom: 30px;
}
.bottom_45 {
  margin-bottom: 45px;
}
.bottom_60 {
  margin-bottom: 60px;
}
.bottom_90 {
  margin-bottom: 90px;
}
.bottom_120 {
  margin-bottom: 120px;
}
.padbot_15 {
  padding-bottom: 15px;
}
.padbot_30 {
  padding-bottom: 30px;
}
.padbot_45 {
  padding-bottom: 45px;
}
.padbot_60 {
  padding-bottom: 60px;
}
