body{
  font-family: 'Montserrat', sans-serif;
  background: #000829;
}

html{
  height: 100%;
}

p{
  font-size: 15px;
  color: #777777;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
 }

 a{
    text-decoration: none !important;
 }

 ul{
    padding-left: 0;
 }
